.button {
  --color-primary-light: #030086;
  --color-secondary-light: #0804b8;
  --color-disabled-light: #9b9b9b;

  --color-primary-dark: #fff;
  --color-secondary-dark: #dfdeff;
  --color-text-dark: var(--color-primary-light);
  --color-disabled-dark: #d9d8d9;
  --color-disabled-text-dark: #4a4a4a;

  --color-white: #fff;
  --font-family: "Lucida Console", Monaco, monospace;

  font-family: var(--font-family);
  font-size: 16px;
  padding: 10px 60px;
  border-radius: 2px;
  margin: 10px 0px;
  cursor: pointer;
  transition: background-color 0.1s linear, color 0.1s linear,
    border 0.1s linear, outline 0.1s linear;
}

/* Main Button Styles */

.button--primary {
  border: 2px solid transparent;
}

.button--secondary {
  background: none;
}

.button--tertiary {
  border: 2px solid transparent;
  width: 120px;
  padding: 10px 0px !important;
  background: none;
}

.button.button--primary:disabled,
.button.button--primary:disabled:hover,
.button.button--primary:disabled:focus,
.button.button--secondary:disabled,
.button.button--secondary:disabled:hover,
.button.button--secondary:disabled:focus,
.button.button--tertiary:disabled,
.button.button--tertiary:disabled:hover,
.button.button--tertiary:disabled:focus {
  cursor: not-allowed;
}

.button.button--secondary:disabled,
.button.button--secondary:disabled:hover,
.button.button--secondary:disabled:focus,
.button.button--tertiary:disabled,
.button.button--tertiary:disabled:hover,
.button.button--tertiary:disabled:focus {
  background: none;
}

.button.button--tertiary:disabled,
.button.button--tertiary:disabled:hover,
.button.button--tertiary:disabled:focus {
  border: none;
}

.button.button--primary.button--icon {
  padding: 10px 45px;
}

.button__icon {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}

/* Light Theme Button Styles */

.button--light.button--primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.button--light .button__icon > path {
  fill: var(--color-white);
}

.button--light.button--primary:hover,
.button--light.button--primary:focus {
  background-color: var(--color-secondary-light);
}

.button--light.button--primary:focus,
.button--light.button--secondary:focus {
  outline: 2px solid var(--color-secondary-light);
  outline-offset: 4px;
}

.button--light.button--secondary {
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.button--light.button--secondary:hover,
.button--light.button--secondary:focus {
  color: var(--color-white);
  border: 2px solid var(--color-secondary-light);
  background: var(--color-secondary-light);
}

.button--light.button--tertiary {
  color: var(--color-primary-light);
}

.button--light.button--tertiary:hover,
.button--light.button--tertiary:focus {
  border-bottom: 2px solid var(--color-primary-light);
}

.button--light.button--primary:disabled,
.button--light.button--primary:disabled:hover,
.button--light.button--primary:disabled:focus {
  background-color: var(--color-disabled-light);
}

.button--light.button--secondary:disabled,
.button--light.button--secondary:disabled:hover,
.button--light.button--secondary:disabled:focus {
  border: 2px solid var(--color-disabled-light);
  color: var(--color-disabled-light);
}

.button--light.button--tertiary:disabled,
.button--light.button--tertiary:disabled:hover,
.button--light.button--tertiary:disabled:focus {
  color: var(--color-disabled-light);
}

/* Dark Theme Button Styles */

.button--dark.button--primary {
  background-color: var(--color-primary-dark);
  color: var(--color-text-dark);
}

.button--dark.button--primary:hover,
.button--dark.button--primary:focus {
  background-color: var(--color-secondary-dark);
}

.button--dark.button--secondary {
  color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.button--dark.button--secondary:hover,
.button--dark.button--secondary:focus {
  color: var(--color-text-dark);
  border: 2px solid var(--color-secondary-dark);
  background: var(--color-secondary-dark);
}

.button--dark.button--primary:focus,
.button--dark.button--secondary:focus {
  outline: 2px solid var(--color-secondary-dark);
  outline-offset: 4px;
}

.button--dark.button--tertiary {
  color: var(--color-primary-dark);
}

.button--dark.button--tertiary:hover,
.button--dark.button--tertiary:focus {
  border-bottom: 2px solid var(--color-primary-dark);
}

.button--dark.button--primary:disabled,
.button--dark.button--primary:disabled:hover,
.button--dark.button--primary:disabled:focus {
  background-color: var(--color-disabled-dark);
}

.button--dark.button--secondary:disabled,
.button--dark.button--secondary:disabled:hover,
.button--dark.button--secondary:disabled:focus {
  border: 2px solid var(--color-disabled-dark);
  color: var(--color-disabled-dark);
}

.button--dark.button--tertiary:disabled,
.button--dark.button--tertiary:disabled:hover,
.button--dark.button--tertiary:disabled:focus {
  color: var(--color-disabled-dark);
}

.button--dark .button__icon > path {
  fill: var(--color-text-dark);
}

/* Button Size Styles */

.button--small {
  padding: 8px 30px;
  font-size: 0.8rem;
}

.button--medium {
  padding: 10px 60px;
  font-size: 1rem;
}

.button--large {
  padding: 10px 80px;
  font-size: 1.2rem;
}
